# Java
*.class
*.jar
*.war
target/

# Maven
.mvn/
mvn-wrapper.jar

# Node
node_modules/
dist/
.angular/

# IDE
.idea/
*.iml
.vscode/
*.swp

# Secrets — JAMAIS dans Git
*.env
.env
secrets/
vault-token

# Docker
docker-compose.override.yml

# Rapports générés
reports/*.html
reports/*.json
reports/*.xml

# K3s
kubeconfig
*.kubeconfig
.idea/
